html, body {
  font-family: sans-serif;
  background: #f0f4f8;
  padding: 20px;
  color: #333;
}
h1 {
  text-align: center;
  color: #2e86de;
}

form {
  max-width: 500px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
} 

button {
  background: #2e86de;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#breaks{
  width: 3%;
  padding: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  border: 1px solid #ccc;
}

button:hover {
  background: #1b4f72;
}

.highlight {
  background-color: #d6eaf8;
}

#planSection {
  max-width: 500px;
  margin: 30px auto;
  background: #d5f5e3;
  padding: 20px;
  border-radius: 10px;
}

.plan-card {
  background: #fff;
  border: 2px solid #2e86de;
  padding: 15px;
  border-radius: 8px;
}

